<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

<form action="@Url.Action("Index")" method="post" autocomplete="on">
    <label>PaymentProvider:<input type="text" name="PaymentProvider"/></label>
    <label>TransactionNo:<input type="text" name="TransactionNo"/></label>
    <label>CreatedDate:<input type="datetime-local" name="CreatedDate"/></label>
    <label>RequestAmount:<input type="number" name="RequestAmount"/></label>
    <input type="submit" value="submit"/>
</form>



</body>
</html>